:root {
  --navy-blue: rgb(0, 0, 128);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(20, 20, 20);
  color: white;
}

h1 {
  text-align: center;
  padding: 30px;
  font-size: 48px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  border: 3px solid white;
  border-radius: 20px;
  background-color: gold;
  color: var(--navy-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 450px;
  width: 350px;
}

.card h2 {
  text-align: center;
}

.card img {
  height: 200px;
  width: 150px;
  border: 2px solid var(--navy-blue);
  border-radius: 10px;
}

.card .info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card .info-span,
.card .author-name,
.card .year {
  font-weight: bold;
}

.card .author-name,
.card .year {
  color: red;
}

.card .read {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.card .read input {
  cursor: pointer;
}

.delete-btn {
  color: white;
  background-color: red;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 600px) {
  .main {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
